@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
.shuiguangyuanjiang{
    width: 100%;
    height: 1020px;
    background-size: 100%;
}
.shuiguangyuanjiang2{
    width: 100%;
    height:2612px;
    background-image: url("../images/fule/bigbanner.png") ;
    background-size: 100%;
    
}
.shuiguangyuanjiang3{
    width: 100%;
    height:2612px;
    background-image: url("../images/fule/fulelongbanner.jpeg");
    background-size: 100%;
}
.shuiguangyuanjiang4{
    width: 100%;
    height: 887px;
    background-image: url("../images/project/02.jpeg");
    background-size: 100%;
}
.odwr1th{
    width: 100%;
    height: 887px;
    background-image: url("../video/huaban.mp4");
    background-size: 100%;
}
.nanda1th{
    width: 100%;
    height:2612px;
    background-image: url("../images/header/xiaoqiiuzaobanner.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.nanda4th{
    width: 100%;
    height:1612px;
    background-image: url("../images/nanda/alphashicha.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#n4thh{
    font-size:55px;
    font-weight: 900;
    position: relative;
    left: 25px;
    bottom:15px;
    text-align: center;
}
#n4thh2{
    font-size:55px;
    font-weight: 900;
    margin-top:955px;
    text-align: center;
    line-height: 6px;
}
.nanda7th{
    width: 100%;
    height:1112px;
    background-image: url("../images/nanda/nanabox.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
.nandalast{
    width: 100%;
    height:612px;
    background-image: url("../images/nanda/last.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
#mianmonth{
    box-sizing: border-box;
}.osn1th{display:block;}.osn1th img{display:block;width:100%;}
#thetitle{
    font-size: 45px;
    text-align: center;
    font-weight: 900;
    align-items: center;
    margin: auto;
}
.waterpenwu{
    background: url("../images/alpha/alphapenwu.png");
    background-size: 100%;
    display: block;

}
.outside{
    display: block;
    /* background-image: url("../images/221-5.png"); */
    background-position:center;
    background-size: cov
}
/* ssl */
/* -----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAqt+teAtQ7bJmGX6eTcB/bw6KlxLAJvsRqRxlznBLyZx/IYph
58mo2wvoQhrviIjZigZABaJMvGjN9T8UA/77DQN05D4B96MrPu9XrsaDAcPo+7Ij
ZIGn6YG4ZHf6nRq1DJtM2M3d157iC7H6vb4lyYMPNnY3Hx/TVqmpDtsQidAooJlS
4JOV8TNr4DefpCee+uZbnS9JRf5OApn1FeXIM0AYwVWaomSgeGLfsxARtRPCzV0N
KVlFLhlgCVZ7PhXZwPrKFXao5ZZM/pSIF1DzWULep2b3GjBazzRXeMIhRBWIYLFG
Aj8BBtv4jLjzYIphCydhw+G9PG/9YqHzzoWpKQIDAQABAoIBAAgvAcUZz6Susl6e
tpC1OzUzrlYJbxv+0sv1YPfX331Wqi0OTl2WRijFg3hlB1tT6I1Ietj6OrAcWd7Y
yEnftKDdLURAJwJ39VqEhn/HoJ8dRaOGVtUZs5PGo3DmYSGUlZ62smHAzFLnGF7k
hYSAXplt1jTuyPmL4eiI5CCiw8JB2ofeupeseUPh1vAA74Q8Ek3AVPBiCRc9u4JD
kA9n5FJtK2svT4cElRB0Rkhcy1SfB3/L7JChDv+fjYxfamUXf1YQneKMA+fVDx08
lxQLqLE02lgnK1bJ0XEWBFeg8VglUnNwOeZXB3l54NLcRZiCXpw96U2qBwB1K2Qn
cL+biwECgYEA6A9qo305k8qDc8J6+rvGNQh9rgk+4D6K3sUe6bRAJknikr9OSpLq
NTPpDz+aXdFlVOyqGE0chkMEUa8NyhTg99w+jvM9wf8xlwE2zdO/xfiXaJYvM44f
Y9cupiw6IrVH8dEN2vVjlGsCOOi07g2RGn689LKABQ/Y95lUhyCufoECgYEAvIBc
DnnWMLGJYpYsGIby1Y+WJzqsKofc6djjuN1RZuq7bvAgqTNLg8DUNJjO+dr3O6uw
yTiDfVlEY2gXU2Ks2CRQ5o/UA8PA0XOiLCcqGvnmKSJdbORSryl+D/BS0ZcMLaww
0U1WRTwW5R5zmZmG5ZAvqFYXI31NFFGQZOgNJqkCgYEAtiMTgcpRnKwATKVCPPWQ
diN58VUUYpD0EjEJOEjfaK3pBWDdpC53YNajf/JdyHEHZYZzYqtzTfXft/T7j7af
dCsLdst3l4Iie/DaAObHyCx7Of1WgtJz1LsZxBdGceNy2ltI0qhzRhRPJDeRep5v
WypKSIypak+r7XoNHBoMmwECgYEAqdB5HhFkhDlsKwRedTodSYcxHeYdc7MxsPlT
LRc0XiLY9/gbdFJhlTAB++AtlalNUNQ7Tws6aZIhqev8F4Ktc4pD13F67mlLK2Wg
k2Y06Fh4oFX1FEQcuPAIQROfiHEq53pYADZLodOgTIhCW/2TKPvb8yqbbb1T0xon
mr/yGQECgYAC5HAQi6SazUEOR5hyQC5CJlhfF+SqbhoEUo39uPheqepAMSd8ZXUG
JeSOyBrC8RUSRfibb8gO8Pit9Bq/iGaBYwNQZ/yqPxrXAQNi9hXzDLYLYaREELUh
sAmBBFgcV74j0WT/PchOVgkxHIOCmBpsn84XHQZLCc2QVT8It5ntYA==
-----END RSA PRIVATE KEY----- */


/* -----BEGIN CERTIFICATE-----
MIIGbTCCBNWgAwIBAgIRAJ3NkLeKNEEgRA123T26/a4wDQYJKoZIhvcNAQEMBQAw
WTELMAkGA1UEBhMCQ04xJTAjBgNVBAoTHFRydXN0QXNpYSBUZWNobm9sb2dpZXMs
IEluYy4xIzAhBgNVBAMTGlRydXN0QXNpYSBSU0EgRFYgVExTIENBIEcyMB4XDTIy
MDQxNjAwMDAwMFoXDTIzMDQxNjIzNTk1OVowFDESMBAGA1UEAxMJanhrc2QudG9w
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAqt+teAtQ7bJmGX6eTcB/
bw6KlxLAJvsRqRxlznBLyZx/IYph58mo2wvoQhrviIjZigZABaJMvGjN9T8UA/77
DQN05D4B96MrPu9XrsaDAcPo+7IjZIGn6YG4ZHf6nRq1DJtM2M3d157iC7H6vb4l
yYMPNnY3Hx/TVqmpDtsQidAooJlS4JOV8TNr4DefpCee+uZbnS9JRf5OApn1FeXI
M0AYwVWaomSgeGLfsxARtRPCzV0NKVlFLhlgCVZ7PhXZwPrKFXao5ZZM/pSIF1Dz
WULep2b3GjBazzRXeMIhRBWIYLFGAj8BBtv4jLjzYIphCydhw+G9PG/9YqHzzoWp
KQIDAQABo4IC8zCCAu8wHwYDVR0jBBgwFoAUXzp8ERB+DGdxYdyLo7UAA2f1Vxww
HQYDVR0OBBYEFLlAK3Px2gz+Wnnr1/zPQb08m7URMA4GA1UdDwEB/wQEAwIFoDAM
BgNVHRMBAf8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjBJBgNV
HSAEQjBAMDQGCysGAQQBsjEBAgIxMCUwIwYIKwYBBQUHAgEWF2h0dHBzOi8vc2Vj
dGlnby5jb20vQ1BTMAgGBmeBDAECATB9BggrBgEFBQcBAQRxMG8wQgYIKwYBBQUH
MAKGNmh0dHA6Ly9jcnQudHJ1c3QtcHJvdmlkZXIuY24vVHJ1c3RBc2lhUlNBRFZU
TFNDQUcyLmNydDApBggrBgEFBQcwAYYdaHR0cDovL29jc3AudHJ1c3QtcHJvdmlk
ZXIuY24wIwYDVR0RBBwwGoIJanhrc2QudG9wgg13d3cuanhrc2QudG9wMIIBfwYK
KwYBBAHWeQIEAgSCAW8EggFrAWkAdgCt9776fP8QyIudPZwePhhqtGcpXc+xDCTK
hYY069yCigAAAYAy++E5AAAEAwBHMEUCIQCD1mQlZIS6e1Fo7OB1wFA66GhtXwHn
ReMuOAjd2Ohh+QIgVQdKy8KqfAQHvckaPRyVKj9ShigWepBuFsJ2EpycTAoAdgB6
MoxU2LcttiDqOOBSHumEFnAyE4VNO9IrwTpXo1LrUgAAAYAy++EGAAAEAwBHMEUC
IQDaRQd8WvqM23nmtDJT0KbfAKbdnj59vP10h58tTQoP+AIgMbjcq71ZBssIxwE+
0dT+4ydagcLzHH2E8Gui4Pvh2gwAdwDoPtDaPvUGNTLnVyi8iWvJA9PL0RFr7Otp
4Xd9bQa9bgAAAYAy++DVAAAEAwBIMEYCIQCFRhpTgTPr4hQshxz69itI+se+5e9o
qhIg/cpndiOjTAIhAOXMsz3b9wo7+hawg9GS5XKkGVJ8G4EKP7Y1ZpqIUDb1MA0G
CSqGSIb3DQEBDAUAA4IBgQAXFRVzmtdpZHTkUj8wWjs+mv6lK2Ss9UKEJGA81BTR
56kGZdfQ7mUQAlBg19DDZ1V+RxWW6CPN97rlKCBpSqCm/jluFxPXFML7FDIQdmUS
b3cV4WlJjKmYDBKZM1vJtUmzwmvEs95oMXN4kJnuyFHM8g+0Kyduqwmsk2/rzuaY
7wB5twOVXL3p3lLJpOByQUULkVasrvIEFFD4RX17dWRTHd4tX8kFkrze/0ab7iRl
h04/FuEszIkhDYNDDiAh0yZJljl/Wbpa9ELmgozljXgH3CthVEf3L4U5a7lhaqav
7ntAFk+peLaFh9eH4BbjdhcttxEVA2WhudMD2Ob1ngyq+gCDapDagJzQECeBYmSM
GAyxD0mEpoelt6Ev4aVsNnuOjNRMgqpLpJ1uriCV79sB9uP1mc2uMREn77ViebWc
Xkxp7yma9QVHH10EsUNKkh3F2OF4t8dG8/3ulb9bfgYg8AqoE6YJ0OgWGLfKP+5t
cOf/9SRBc9+f3aZN3Ni0m5A=
-----END CERTIFICATE-----
-----BEGIN CERTIFICATE-----
MIIFBzCCA++gAwIBAgIRALIM7VUuMaC/NDp1KHQ76aswDQYJKoZIhvcNAQELBQAw
ezELMAkGA1UEBhMCR0IxGzAZBgNVBAgMEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4G
A1UEBwwHU2FsZm9yZDEaMBgGA1UECgwRQ29tb2RvIENBIExpbWl0ZWQxITAfBgNV
BAMMGEFBQSBDZXJ0aWZpY2F0ZSBTZXJ2aWNlczAeFw0yMjAxMTAwMDAwMDBaFw0y
ODEyMzEyMzU5NTlaMFkxCzAJBgNVBAYTAkNOMSUwIwYDVQQKExxUcnVzdEFzaWEg
VGVjaG5vbG9naWVzLCBJbmMuMSMwIQYDVQQDExpUcnVzdEFzaWEgUlNBIERWIFRM
UyBDQSBHMjCCAaIwDQYJKoZIhvcNAQEBBQADggGPADCCAYoCggGBAKjGDe0GSaBs
Yl/VhMaTM6GhfR1TAt4mrhN8zfAMwEfLZth+N2ie5ULbW8YvSGzhqkDhGgSBlafm
qq05oeESrIJQyz24j7icGeGyIZ/jIChOOvjt4M8EVi3O0Se7E6RAgVYcX+QWVp5c
Sy+l7XrrtL/pDDL9Bngnq/DVfjCzm5ZYUb1PpyvYTP7trsV+yYOCNmmwQvB4yVjf
IIpHC1OcsPBntMUGeH1Eja4D+qJYhGOxX9kpa+2wTCW06L8T6OhkpJWYn5JYiht5
8exjAR7b8Zi3DeG9oZO5o6Qvhl3f8uGU8lK1j9jCUN/18mI/5vZJ76i+hsgdlfZB
Rh5lmAQjD80M9TY+oD4MYUqB5XrigPfFAUwXFGehhlwCVw7y6+5kpbq/NpvM5Ba8
SeQYUUuMA8RXpTtGlrrTPqJryfa55hTuX/ThhX4gcCVkbyujo0CYr+Uuc14IOyNY
1fD0/qORbllbgV41wiy/2ZUWZQUodqHWkjT1CwIMbQOY5jmrSYGBwwIDAQABo4IB
JjCCASIwHwYDVR0jBBgwFoAUoBEKIz6W8Qfs4q8p74Klf9AwpLQwHQYDVR0OBBYE
FF86fBEQfgxncWHci6O1AANn9VccMA4GA1UdDwEB/wQEAwIBhjASBgNVHRMBAf8E
CDAGAQH/AgEAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAiBgNVHSAE
GzAZMA0GCysGAQQBsjEBAgIxMAgGBmeBDAECATBDBgNVHR8EPDA6MDigNqA0hjJo
dHRwOi8vY3JsLmNvbW9kb2NhLmNvbS9BQUFDZXJ0aWZpY2F0ZVNlcnZpY2VzLmNy
bDA0BggrBgEFBQcBAQQoMCYwJAYIKwYBBQUHMAGGGGh0dHA6Ly9vY3NwLmNvbW9k
b2NhLmNvbTANBgkqhkiG9w0BAQsFAAOCAQEAHMUom5cxIje2IiFU7mOCsBr2F6CY
eU5cyfQ/Aep9kAXYUDuWsaT85721JxeXFYkf4D/cgNd9+hxT8ZeDOJrn+ysqR7NO
2K9AdqTdIY2uZPKmvgHOkvH2gQD6jc05eSPOwdY/10IPvmpgUKaGOa/tyygL8Og4
3tYyoHipMMnS4OiYKakDJny0XVuchIP7ZMKiP07Q3FIuSS4omzR77kmc75/6Q9dP
v4wa90UCOn1j6r7WhMmX3eT3Gsdj3WMe9bYD0AFuqa6MDyjIeXq08mVGraXiw73s
Zale8OMckn/BU3O/3aFNLHLfET2H2hT6Wb3nwxjpLIfXmSVcVd8A58XH0g==
-----END CERTIFICATE----- */